#navLogo{
	height: 55px;
	width: 85px;
}

.hnd{
	height: 202px;
	width: 2000px;
}

.error-to-screen{
	font-color : red;
}

.signclearblt{
	color: transparent;
}
.signclearbtn{
	text-decoration: underline;
	margin: 0 auto;
}

